<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h1 class="my-3 pb-2 border-bottom">Articles</h1>
      <div class="article">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag "online-security.png", class: "article-image-index mb-3"%>
          </div>
          <div class="col-sm-8">
            <h2 class="mb-2">Three Ways to Have a More Secure Online Experience</h2>
            <p class="acticle-author-index mb-2">By Joe Doe</p>
            <p>
              Criminals have gotten more and more clever when it comes to their ability to track and hack.
            </p>
            <a class="btn btn-primary" href="#" role="button">Read more</a>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag "edu-tech-min.png", class: "article-image-index mb-3"%>
          </div>
          <div class="col-sm-8">
            <h2 class="mb-2">7 Best Examples of Educational Technologies </h2>
            <p class="acticle-author-index mb-2">By Joe Doe</p>
            <p>
              Since technology advances by the day, keeping up with innovations in the classroom can seem daunting.
            </p>
            <a class="btn btn-primary" href="#" role="button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>