<div class="container">
  <h1 class="mt-3">About</h1>
  <p>
    Tech blog is a technology blog founded & managed by Joe Doe. Tech blog is a destination
    which updates you about the latest technology by providing info on tech news, gadgets, how
    to's, apps & softwares and much more... Our aim is to look for Tech In Every Thing. Our
    goal is providing you information about everything which relates
    to tech and we hope you would be satisfied by visiting this blog. Your
    suggestions are always welcome.
  </p>
</div>