<div id="home-container" class="container-fluid">
  <div id="home-div" class="text-center text-light">
    <h1 class="display-4">Welcome to my technology blog</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <hr class="my-4">
    <%= link_to "Browse articles", "articles", class: "btn btn-primary", role: "button"%>
  </div>
</div>
